/*
these make the slideshow work
*/
#slides {
    position: relative;
    height: 400px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.controls {
    display: none;
}

/*
non-essential styles:
just for appearance; change whatever you want
*/

.slide {
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
    background-size: cover;
}

.slide:nth-of-type(1) {
    background-image: url(img/slide.png);
}

.slide:nth-of-type(2) {
    background-image: url(img/slide1.png);
}

.slide:nth-of-type(3) {
    background-image: url(img/baner.png);
}

.controls {
    color: #b3b3b3;
    background-color: #fff;
    padding: 20px 0;
    font-size: 20px;
    cursor: pointer;: pointer;
    width: 40px;
    height: 200px;
    border: none;
}

.container {
    position: relative;
}

.buttons-previous {
    position: absolute;
    left: -25px;
    top: 25%;
    z-index: 10;
    font-size: 0;
}
.buttons-next {
    position: absolute;
    right: -25px;
    top: 25%;
    z-index: 10;
    font-size: 0;
}
