.wrapper {
  color: #000000;
  font-family: "Open Sans"; }

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline; }
  header > .bad-header {
    max-width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center; }
    header > .bad-header .text {
      width: 65%;
      padding-left: 3%;
      font-size: 15px;
      font-weight: 400;
      line-height: 21px; }
  header div {
    font-size: 19px;
    font-weight: 400;
    line-height: 20px; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6e6e6;
  height: 41px; }
  nav ul {
    padding-left: 0;
    margin-bottom: 0;
    min-width: 75%;
    height: 100%;
    display: flex;
    align-items: center; }
    nav ul li {
      list-style: none;
      padding: 0 2.5%;
      height: 100%;
      display: flex;
      align-items: center; }
      nav ul li a {
        font-size: 15px;
        font-weight: 400;
        line-height: 17px;
        color: inherit; }
        nav ul li a:hover {
          color: inherit;
          text-decoration: none; }
      nav ul li:hover {
        border-bottom: 1px solid #8cc63e; }

.search-icon {
  margin-left: -22px;
  color: #ccc; }

.main-padding {
  padding: 0 9%; }

.header-with-img {
  height: 362px;
  margin-top: 40px; }

.header-big-img {
  background: url(../../img/baner.png) center center;
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  padding: 0 0; }

.header-state {
  background: #000000 url(../../img/panel-right.png);
  height: 120px;
  margin-top: 1px;
  background-size: contain;
  background-repeat: no-repeat; }
  .header-state div {
    padding: 3%;
    background-color: #8cc63e;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white; }

section h3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 17px;
  display: inline-block;
  margin-top: 40px; }

section > button {
  float: right;
  background-color: #ffffff;
  color: #659a00;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  padding: 10px 20px;
  border: 1px solid #659a00;
  border-radius: 4px;
  display: inline-block;
  margin-top: 50px; }

section > .row {
  margin-top: 50px; }

.grid-product-item {
  width: 23%;
  height: 270px;
  margin: 0 1%;
  border: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .grid-product-item h4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: center; }
  .grid-product-item p {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    text-align: center; }
  .grid-product-item .grey-block-item {
    height: 104px;
    width: 75%;
    background-color: #f2f2f2;
    display: flex; }
    .grid-product-item .grey-block-item img {
      display: block;
      height: 40px;
      margin: auto; }
  .grid-product-item:hover {
    background: url("../../img/parket.png");
    color: white;
    cursor: pointer; }

.grid-item {
  border: 1px solid #ccc;
  width: 23%;
  min-height: 270px;
  margin: 0 1%;
  padding: 0 0; }
  .grid-item:hover {
    cursor: pointer;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.2); }
    .grid-item:hover .propose-image div {
      width: 72px;
      height: 72px;
      padding-top: 15px;
      font-size: 30px; }
    .grid-item:hover p {
      color: #6bc729; }

.propose-image {
  width: 100%;
  height: 50%;
  position: relative; }
  .propose-image img {
    width: 100%; }
  .propose-image div {
    position: absolute;
    top: 0px;
    width: 48px;
    height: 48px;
    background-color: #6bc729;
    color: #fff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    padding-top: 10px; }

.propose-info {
  width: 100%;
  height: 145px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .propose-info p {
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 22px; }

.propose-info_grey-size {
  color: #999999;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  text-decoration: line-through;
  float: right;
  line-height: 28px; }

.propose-info_black-size {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400; }

.realwood-this {
  background-color: #f5f5f5;
  margin-top: 50px;
  padding-bottom: 50px; }
  .realwood-this section button {
    background-color: #f5f5f5; }

.realwood {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px; }

.leaders-of-sells h4 {
  margin-top: 20px; }

.leaders-of-sells h5 {
  margin-top: 20px; }

.leaders-of-sells p {
  margin-top: 20px; }

.leaders-of-sells button {
  margin-top: 10px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  background-color: #7bbe21;
  border: 1px solid #7bbe21;
  border-radius: 4px;
  padding: 10px 20px; }

.comfortable-house {
  background-image: url(../../img/home.png);
  background-color: #000;
  height: 460px;
  color: #fff;
  margin: 50px 0; }
  .comfortable-house h3 {
    font-family: "Open Sans";
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 30px; }
  .comfortable-house p {
    font-family: "Open Sans";
    font-size: 20px;
    margin-bottom: 20px; }
  .comfortable-house select {
    width: 263px;
    height: 35px;
    border-radius: 4px;
    background-color: #ffffff;
    opacity: 0.4;
    color: #000; }
    .comfortable-house select option {
      width: 263px;
      height: 35px;
      border-radius: 4px;
      background-color: #ffffff;
      opacity: 0.4;
      color: #000; }
  .comfortable-house span {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 67px;
    font-weight: 300;
    font-stretch: ultra-condensed; }
  .comfortable-house button {
    color: #fff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    background-color: #7bbe21;
    border: 1px solid #7bbe21;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 50px; }

.ruble {
  padding: 60px 50px 0 70px; }

.sel select {
  margin-bottom: 30px; }

#map {
  width: 600px;
  height: 530px;
  margin-top: 30px; }

.useful {
  display: flex;
  flex-direction: column; }
  .useful div {
    margin: 30px 0 30px 0; }
    .useful div h4 {
      font-size: 20px;
      margin-top: 0; }
    .useful div p {
      font-size: 15px; }
  .useful img {
    float: left;
    margin-right: 10px; }
